/*Definiendo la fuentes*/
@font-face {
	font-family: "ballpark";
	src: url('fonts/ballpark.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "dayrom";
	src: url('fonts/dayrom.ttf');
	font-style: normal;
	font-weight: normal;
}

/* Definiendo los elementos principales*/

body {
	background: url('Imagenes/yellow_background.png');
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: #181818
}

#contenido {
	width: 900px;
	margin: auto;
}

header {
	background: url('Imagenes/line.png') repeat-x bottom;
}

#logo {
	display: inline-block;
}

header h1 {
	font-family: 'ballpark';
	font-size: 2.5em;
}

#imagen, header h1{
	display: inline-block;
	margin-bottom: 0px;
}

header h2 {
	font-family: 'dayrom';
	font-size: 1.1em;
	margin-top: 0px;
	font-weight: normal;
}

nav {
	display: inline-block;
	width: 740px;
	text-align: right;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	margin-right: 15px;
}

nav a {
	font-size: 1.3em;
	color: #181818;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover {
	color: #760001;
	border-bottom: 3px solid #760001;

}

#banner {
	margin-top: 15px;
	margin-bottom: 25px;
	background: url(../CSS/Imagenes/sanfrancisco.jpg);
	height: 200px;
	border-radius: 5px;
	box-shadow: 0px 4px 4px #1c1a19;
	position: relative;
}

#texto_banner {
	font-size: 0.8em;
	color: white;
	background-color: rgba(24,24,24,0.8);
	padding-top: 15px;
	padding-left: 4px;
	width: 99.5%;
	height: 33px;
	bottom: 0px;
	border-radius: 0px 0px 5px 5px;
	position: absolute;
}

.boton_rojo {
	display: inline-block;
	height: 25px;
	border-radius: 5px;
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: 1.2em;
	text-align: center;
	padding: 3px 8px 0px 8px;
	border: 1px solid #760001;
	background-image: linear-gradient(#ff1200, #e84500);
	text-decoration: none;
	color: white;
}

article, aside {
	display: inline-block;
	text-align: justify;
}

article {
	width: 625px;
	margin-right: 15px;
}

.art_img {
	vertical-align: middle;
	margin-right: 8px;
}

article p {
	font-size: 0.8em;
}

aside {
	position: absolute;
	width: 235px;
	background-color: #706b64;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 0.9em;
}

#imagen_autor {
	position: absolute;
	top: 100px;
	left: -12px;
}